apiVersion: apps/v1
kind: Deployment
metadata:
  name: image-distribution-operator-controller-manager
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    control-plane: controller-manager
spec:
  replicas:  {{ .Values.controllerManager.replicas }}
  selector:
    matchLabels:
      {{- include "chart.selectorLabels" . | nindent 6 }}
      control-plane: controller-manager
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        {{- include "chart.labels" . | nindent 8 }}
        control-plane: controller-manager
        {{- if and .Values.controllerManager.pod .Values.controllerManager.pod.labels }}
        {{- range $key, $value := .Values.controllerManager.pod.labels }}
        {{ $key }}: {{ $value }}
        {{- end }}
        {{- end }}
    spec:
      containers:
        - name: manager
          args:
            {{- range .Values.controllerManager.container.args }}
            - {{ . }}
            {{- end }}
            - --s3-bucket={{ .Values.s3.bucket }}
            - --s3-region={{ .Values.s3.region }}
            {{- if .Values.s3.http }}
            - --s3-http
            {{- end }}
            {{- if .Values.vsphere.pullFromURL }}
            - --vsphere-pull-from-url
            {{- end }}
            {{- if .Values.vcd.pullFromURL }}
            - --vcd-pull-from-url
            {{- end }}
            {{- if .Values.vcd.downloadDir }}
            - --vcd-download-dir={{ .Values.vcd.downloadDir }}
            {{- end }}
          command:
            - /manager
          image: "{{ .Values.controllerManager.container.image.repository }}:{{ include "image.tag" . }}"
          ports:
            - containerPort: 8081
              name: http
          {{- if .Values.controllerManager.container.env }}
          env:
            {{- range $key, $value := .Values.controllerManager.container.env }}
            - name: {{ $key }}
              value: {{ $value }}
            {{- end }}
          {{- end }}
          livenessProbe:
            {{- toYaml .Values.controllerManager.container.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.controllerManager.container.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.controllerManager.container.resources | nindent 12 }}
          securityContext:
            {{- toYaml .Values.controllerManager.container.securityContext | nindent 12 }}
          volumeMounts:
            - mountPath: /tmp/images
              name: image-storage
            {{- if .Values.vsphere.credentials }}
            - mountPath: /home/.vsphere/credentials
              name: vsphere-credentials
              subPath: credentials
            {{- end }}
            {{- if .Values.vsphere.locations }}
            - mountPath: /home/.vsphere/locations
              name: vsphere-locations
              subPath: locations
            {{- end }}
            {{- if .Values.vcd.credentials }}
            - mountPath: /home/.vcd/credentials
              name: vcd-credentials
              subPath: credentials
            {{- end }}
            {{- if .Values.vcd.locations }}
            - mountPath: /home/.vcd/locations
              name: vcd-locations
              subPath: locations
            {{- end }}
            {{- if and .Values.metrics.enable .Values.certmanager.enable }}
            - name: metrics-certs
              mountPath: /tmp/k8s-metrics-server/metrics-certs
              readOnly: true
            {{- end }}
      securityContext:
        {{- toYaml .Values.controllerManager.securityContext | nindent 8 }}
      serviceAccountName: {{ .Values.controllerManager.serviceAccountName }}
      terminationGracePeriodSeconds: {{ .Values.controllerManager.terminationGracePeriodSeconds }}
      volumes:
        - name: image-storage
          emptyDir: {}
        {{- if .Values.vsphere.credentials }}
        - name: vsphere-credentials
          secret:
            secretName: image-distribution-operator-vsphere-credentials
        {{- end }}
        {{- if .Values.vsphere.locations }}
        - name: vsphere-locations
          configMap:
            name: image-distribution-operator-vsphere-locations
        {{- end }}
        {{- if .Values.vcd.credentials }}
        - name: vcd-credentials
          secret:
            secretName: image-distribution-operator-vcd-credentials
        {{- end }}
        {{- if .Values.vcd.locations }}
        - name: vcd-locations
          configMap:
            name: image-distribution-operator-vcd-locations
        {{- end }}
        {{- if and .Values.metrics.enable .Values.certmanager.enable }}
        - name: metrics-certs
          secret:
            secretName: metrics-server-cert
        {{- end }}
